<!DOCTYPE html>
<html>
  <head>@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,latin-ext);
    <style>
      a {
      color: #007ee6;
      text-decoration: none;
      }
    </style>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  </head>
  <body style="padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;" marginheight="0" marginwidth="0">
    <center>
      <table cellpadding="8" cellspacing="0" style="*width: 540px; padding: 0; width: 100% !important; background: #ffffff; margin: 0; background-color: #ffffff;" border="0">
        <tr>
          <td valign="top">
            <table cellpadding="0" cellspacing="0" style="border-radius: 6px; -webkit-border-radius: 6px; border: 1px #c0c0c0 solid; -moz-border-radius: 6px;" border="0" align="center">
              <tr>
                <td colspan="3" height="6"></td>
              </tr>
              <tr>
                <td>
                  <table cellpadding="0" cellspacing="0" style="line-height: 25px;" border="0" align="center">
                    <tr>
                      <td colspan="3" height="30"></td>
                    </tr>
                    <tr>
                      <td width="36"></td>
                      <td width="454" align="left" style="color: #444444; border-collapse: collapse; font-size: 11pt; font-family: 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; max-width: 454px;" valign="top">
                        <p>Hello there!</p>
                        <p>Here is a special link that will allow you to reset your password.  Please note it will expire in one hour for your protection:</p>
                        <p><a href="{{url}}">Reset Your Password</a></p>
                        <p>If you did not request this, please ignore this email and your password will remain unchanged.</p>
                        <p>Thanks so much for using our services! If you have any questions, or suggestions, please feel free to email us here at&nbsp;<a href="mailto:support@papyras.com">support@papyras.com</a>.</p>
                        <p>  - The {{appName}} team</p>
                      </td>
                      <td width="36"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="36"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table cellpadding="0" cellspacing="0" align="center" border="0">
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="padding: 0; border-collapse: collapse;">
                  <table cellpadding="0" cellspacing="0" align="center" border="0">
                    <tr style="color: #c0c0c0; font-size: 11px; font-family: 'Open Sans', 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; -webkit-text-size-adjust: none;">
                      <td width="400" align="left"></td>
                      <td width="128" align="right">© TellForm 2017</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>